*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards {
    display: flex;
}

.card-container {
    display: flex;
}

.card-img {
    width: 100%;
    height: 25vw;
}

.card img {
    width: 100%;
}

.card {
    margin: 15px;
}

h3 {
    margin-bottom: 15px;
}



@media screen and (min-width: 668px) {
    body {
      background-color: blue;
    }

    .cards {
        flex-wrap: wrap; 
    }
    
    .card-img{
        height: auto;
    }
}

@media screen and (min-width: 20px) and (max-width: 419px) {
    body {
        background-color: gray;
    }

    .card-container {
        flex-direction: column;
    }
}